//! **************************************************************************
// Written by: Map P.20131013 on Sat Apr 29 20:01:04 2017
//! **************************************************************************

SCHEMATIC START;
COMP "an<0>" LOCATE = SITE "K14" LEVEL 1;
COMP "an<1>" LOCATE = SITE "M13" LEVEL 1;
COMP "an<2>" LOCATE = SITE "J12" LEVEL 1;
COMP "an<3>" LOCATE = SITE "F12" LEVEL 1;
COMP "ca<0>" LOCATE = SITE "L14" LEVEL 1;
COMP "ca<1>" LOCATE = SITE "H12" LEVEL 1;
COMP "ca<2>" LOCATE = SITE "N14" LEVEL 1;
COMP "ca<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "forward" LOCATE = SITE "A7" LEVEL 1;
COMP "ca<4>" LOCATE = SITE "P12" LEVEL 1;
COMP "ca<5>" LOCATE = SITE "L13" LEVEL 1;
COMP "ca<6>" LOCATE = SITE "M12" LEVEL 1;
COMP "ca<7>" LOCATE = SITE "N13" LEVEL 1;
COMP "seconds<0>" LOCATE = SITE "M5" LEVEL 1;
COMP "seconds<1>" LOCATE = SITE "M11" LEVEL 1;
COMP "seconds<2>" LOCATE = SITE "P7" LEVEL 1;
COMP "seconds<3>" LOCATE = SITE "P6" LEVEL 1;
COMP "seconds<4>" LOCATE = SITE "N5" LEVEL 1;
COMP "seconds<5>" LOCATE = SITE "N4" LEVEL 1;
COMP "min_hour" LOCATE = SITE "N3" LEVEL 1;
COMP "clk1" LOCATE = SITE "M6" LEVEL 1;
NET "clk1_BUFGP/IBUFG" BEL "clk1_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

