NET "clk1" LOC = "M6";

NET "seconds<0>" LOC = "M5";
NET "seconds<1>" LOC = "M11";
NET "seconds<2>" LOC = "P7";
NET "seconds<3>" LOC = "P6";
NET "seconds<4>" LOC = "N5";
NET "seconds<5>" LOC = "N4";

NET	"ca<0>" 	LOC = "L14";
NET  	"ca<1>" 	LOC = "H12";
NET 	"ca<2>"	LOC = "N14";
NET 	"ca<3>"	LOC = "N11";
NET	"ca<4>"	LOC = "P12";
NET 	"ca<5>"	LOC = "L13";
NET 	"ca<6>"	LOC = "M12";
NET 	"ca<7>"	LOC = "N13";

NET "an<3>" LOC = "F12";
NET "an<2>" LOC = "J12";
NET "an<1>" LOC = "M13";
NET "an<0>" LOC = "K14";

NET "min_hour" LOC = "N3";
NET "forward" LOC = "A7";